*.tar
api/__debug_bin.exe
.vscode/launch.json
garden-planner-webapp-arm64
garden-planner-api-arm64
test.mongodb
meteo/*.exe
api/garden-planner.db
api/garden-planner.db-shm
api/garden-planner.db-wal
api/cmd/migrate/garden-planner.db
api/cmd/migrate/migrate.exe
meteo/meteo.db
meteo/meteo.db-shm
meteo/meteo.db-wal
meteo/cmd/migrate/meteo-migrate.exe
meteo/cmd/migrate/meteo.db
export-images.ps1
data/
!api/data/
